<app-userinput (sendEndPoint)="CreateUsersEndPoint($event)"></app-userinput>




<!-- <div class="text-5xl text-center">
CAN YOU SEE ME
</div> -->
<div *ngIf="showWheel">
<app-randomselection [theWinningIndex]="winningIndex" [listOfBiz]="listOfBusinesses" ></app-randomselection>
</div>
<!-- <div *ngFor="let b of listOfBusinesses">
   
        {{b.name}}
    
</div> -->


 <!-- <div class="button-container " >
<button (click)="getRandomRestaurant(APIEndPoint)" class="bg-primary">
CLICK ME
</button>  -->

<!-- <button (click)="addMoreBusinesses()"   >
Add More to the list!
</button>
</div>  -->

