
<!-- maybe figure out how to track their location instead?-->
<!-- First Question Container for endpint.category-->
<div class="form-control bg-warning">
    What type of food are you in the mood for?

    <label class="label" for="categories">
    <input id="categories" [(ngModel)]="userCategory"  type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
    </label>    
    <!-- <button type="submit" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg" (click)="addCategories()">Submit</button> -->
<br>

What area would you like to get back an answer from?
<label class="label" for="location">
<input id="location" [(ngModel)]="userLocation" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</label>    
<!-- <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg" (click)="addLocation()">Submit</button> -->
<br>
<!-- <button class="btn bg-warning">Button</button> -->
<button class="btn btn-info btn-xs sm:btn-sm md:btn-md lg:btn-lg" (click)="addEndPoint()">Submit</button>


</div>



