
<ng-container *ngFor="let b of listOfBiz">
{{b.name}}
</ng-container>
The Winner is! {{theRestaurant}}
<div class=" bg-base-300 flex justify-center  place-items-center min-h-screen">

<div  class="container  relative w-96 h-96  flex  justify-center  place-items-center">
    <!-- <div class="w-32 h-16 absolute flex  z-10"> -->
        <button  (click)="rotate()" class=" spinBtn btn-circle btn-lg bg-secondary text-sm border-4 border-solid border-transparent absolute  justify-center  items-center z-40">Spin The Wheel</button>
    <!-- </div>(click)="spinThis()"   -->
    <div class="pin bg-red-500 w-5 h-8 absolute mt-2 top-32 z-30  "  style="clip-path: polygon(50% 0%, 15% 100%, 85% 100%);">
        ''
    </div>
    <div [@spinTheWheel]="state" (@spinTheWheel.start)="animStart()" (@spinTheWheel.done)="animEnd()"  class="wheel absolute top-0 left-0 w-full h-full bg-base-300 ring-2 ring-red-500 rounded-full shadow-inner shadow-xl overflow-hidden ">
       
        <ng-container *ngFor="let b of listOfBiz, let i = index">
            <div [style]="indexStyle(i)"  class=" num{{i}} restaurant absolute w-2/4 h-2/4 blur-sm"  ><div class="text-center text-sm text-white">{{b.name}}</div></div> 
            </ng-container>
            
    </div>
</div>

</div>

