<div class="flex justify-center place-items-center min-h-screen">
<div class="container relative w-80 h-80 bg-neutral-content flex justify-items-center flex-col place-items-center">
    <div class="w-16 h-16 absolute bottom-36 z-10">
        <button class="btn-circle btn-lg bg-secondary text-sm">Spin The Wheel</button>
    </div>
    <div class="bg-red-500 w-5 h-8 absolute top-20 "style="clip-path: polygon(50% 0%, 15% 100%, 85% 100%);">
        ''
    </div>
    <div class="wheel absolute top-0 left-0 bg-yellow-500 w-full h-full rounded-full overflow-hidden">
        <div class="restaurant absolute w-2/4 h-2/4 " style="--i:1;--clr:#db7093" [style]="">1</div>
        <div class="restaurant absolute w-2/4 h-2/4  ">2</div>
        <div class="restaurant absolute w-2/4 h-2/4  ">3</div>
        <div class="restaurant absolute w-2/4 h-2/4  ">4</div>
        <div class="restaurant absolute w-2/4 h-2/4 ">5</div>
        <div class="restaurant absolute w-2/4 h-2/4 ">6</div>
        <div class="restaurant absolute w-2/4 h-2/4 ">7</div>
        <div class="restaurant absolute w-2/4 h-2/4 ">8</div>
        <div class="restaurant absolute w-2/4 h-2/4 ">9</div>
        <div class="restaurant absolute w-2/4 h-2/4 ">10</div>
    </div>



</div>
</div>